<li style="list-style: none;">
    {{id}}. {{burger_name}}
    <button class="change-devour mr-auto" data-id="{{id}}" data-newDevoured="{{devour}}">
      {{#if devour}}Devour it!{{else}}{{/if}}
    </button>
</li>